<h1>New post</h1>

<br>

<%= form_for Post.new do |f| %>
  <div class="form-group">
    <%= f.text_field :message %>
  </div>
  <div class="form-group">
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
  </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>

  </div>
<% end %>
